#fuckface {
	color: WHITE ;
	border-style:solid;
	border-width:3px;
	border-color: BLACK ;
	padding: 5px 0 0 0 ;
	width: 260px ;
	text-align: center;
}

#fuckface p {
	color: white ;
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 9px ;
	text-align: center;
	margin: 0 0 0 0;
	line-height: 100%;
}

#fuckface a:link {color:WHITE; text-decoration: none}      /* unvisited link */
#fuckface a:visited {color:WHITE; text-decoration: none}  /* visited link */
#fuckface a:hover {color:WHITE; text-decoration: none}  /* mouse over link */
#fuckface a:active {color:WHITE; text-decoration: none}  /* selected link */

#clickHereToVote {
	background-color: BLACK ;
	color: WHITE ;
	font-family: Arial, Helvetica, sans-serif ;
	margin: 0 0 5px 0;
	font-size: 12px ;
	font-weight: bold;
	text-align: left;
	padding: 10px 0 10px 5px;
	width: 255px;
	cursor:pointer;
}
#viewRelevantAmendments {
	background-color: BLACK ;
	color: WHITE ;
	font-family: Arial, Helvetica, sans-serif ;
	margin: 0 0 5px 0;
	font-size: 12px ;
	font-weight: bold;
	text-align: left;
	padding: 10px 0 10px 5px;
	width: 255px;
	cursor:pointer;
}
#votingWindow {
	color: WHITE ;
	background-color: BLACK ;
	border-style:solid;
	border-width:3px;
	border-color: BLACK ;
	padding: 5px 0 0 0 ;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 14px ;
	text-align: left;
}
#resultsWindow {
	color: BLACK ;
	background-color: WHITE ;
	border-style:solid;
	border-width:3px;
	border-color: BLACK ;
	padding: 5px 0 0 0 ;
	text-align: left;
	height: 575px ;
}

.inverted {
	background-color: WHITE ;
	color: BLACK ;
	
}

iframe {
	border: 0px;
}
